@import "./base/base";
@import "./abstracts/mixins";
@import "./abstracts/variables";

.body {
  @include flex-column;
  @include flex-center;
  width: 100%;
}

.main-title {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 8px;
  color: $DarkGrayishCyan;
  margin: 50px auto;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  box-sizing: border-box;
  min-height: 365px;
  border-radius: 14px;
  padding: 24px;
  overflow: hidden;
  margin: auto;
  background-color: $White;
  width: 705px;
}

.parameters-container {
  @include flex-column;
  box-sizing: border-box;
  padding: 10px 13px;
}

.label {
  font-size: 12px;
  color: $GrayishCyan;
  position: relative;
}

.discount-container-label {
  @extend .label;
  margin: 26px 0 0 0;
}

.input {
  box-sizing: border-box;
  text-align: end;
  width: 100%;
  height: 36px;
  padding: 12px;
  margin-top: 8px;
  font-size: 18px;
  color: $VeryDarkCyan;
  background-color: $VeryLightGrayishCyan;
  border: none;
  border-radius: 8px;
  position: relative;

    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
}

.total {
  &::before {
    content: '';
    background-image: url("../images/icon-dollar.svg");
    width: 11px;
    height: 17px;
    position: absolute;
    left: 12px;
    top: 34px;
    background-repeat: no-repeat;
  }
}

.persons-input {
  &::before {
    content: '';
    background-image: url("../images/icon-person.svg");
    position: absolute;
    width: 15px;
    height: 17px;
    left: 12px;
    top: 34px;
    background-repeat: no-repeat;
  }
}

.discount-container {
  @include flex-row;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.discount-list-item {
  padding: 0;
}

.button {
  border-radius: 5px;
  border: none;

  &.active {
    background-color: $primary;
  }

    &.discount {
      background: $VeryDarkCyan;
      color: $VeryLightGrayishCyan;
      width: 90px;
      height: 37px;
      font-size: 18px;
    }

    &.custom-input {
      color: $VeryDarkCyan;
      width: 80px;
      height: 37px;
      background: $VeryLightGrayishCyan;
      text-align: end;
      font-size: 24px;

      &::placeholder {
        font-size: 16px;
        color: $DarkGrayishCyan;
        text-align: center;
        align-content: end;
      }

      &:focus {
        outline: none;
        border: 1px solid $primary;
      }
    }

    &.reset {
      background-color: $primary;
      width: 100%;
      height: 35px;
      color: $VeryDarkCyan;
    }

}

.results-container {
  @include flex-column;
  justify-content: space-between;
  background-color: $VeryDarkCyan;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 14px;
}

.list {
  @include flex-column;
  gap: 24px;
}

.title-container {
  @include flex-column;
  justify-content: center;
}

.result {
  @include flex-row;
  justify-content: space-between;

    .title {
      font-size: 14px;
      color: $VeryLightGrayishCyan;
      margin: 0;
    }

    .span {
      font-size: 10px;
      color: $GrayishCyan;
    }

    .sum {
      font-size: 36px;
      color: $primary;
      margin: 0;
    }
}

@media screen and (max-width: 750px) {
  .body {
    @include flex-column;
    @include flex-center;
  }

  .main-container {
    margin: 0 auto;
    grid-template-columns: unset;
    grid-template-rows: repeat(2, auto);
    max-width: 375px;
    width: 100%;
    border-radius: 20px;
    padding: 20px 24px;
  }

  .label {
    font-size: 16px;
  }

  .input {
    height: 45px;
    font-size: 24px;
    padding: 15px;
  }

  .total {
    &::before {
      width: 11px;
      height: 17px;
      left: 15px;
      top: 46px;
    }
    margin-bottom: 8px;
  }

  .persons-input {
    &::before {
      width: 15px;
      height: 17px;
      left: 15px;
      top: 46px;
    }
  }

  .parameters-container {
    max-width: 375px;
    width: 100%;
    padding: 10px 8px;
  }

  .results-container {
    max-width: 375px;
    width: 100%;
  }

  .discount-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .button {
    font-size: 18px;
    &.discount {
      width: 100%;
      height: 48px;
      font-size: 24px;
    }

    &.custom-input {
      width: 100%;
      height: 48px;
      font-size: 30px;
    }

    &.active {
      background-color: $primary;
    }

    &.reset {
      height: 50px;
      margin-top: 10px;
    }
  }

  .results-container {
    padding:  24px;
    border-radius: 14px;
  }

  .result {
    @include flex-row;
    justify-content: space-between;

    .title {
      font-size: 16px;
    }

    .sum {
      font-size: 32px;
    }
  }
}
