@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import "../abstracts/variables";

body {
  font-family: 'Space Mono', sans-serif;
  background: $LightGrayishCyan;
  padding: 0;
  margin: 0;
}

* {
  font-weight: 700;
}

button {
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
}